<!DOCTYPE html>

<html>
  <head>
    <title>Academic Challenge</title>
  </head>
  <body>
    {{range .}}
    {{.AcaYear}}
    {{.Fall.Term}}
      {{range .Fall.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}
      {{end}}
    {{.Spring.Term}}
      {{range .Spring.Courses}}
        {{.Number}} - {{.Name}} - {{.Units}}
      {{end}}
    {{end}}
  </body>
</html>