
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Hello Dear!</title>
		</head>
		<body>
		<div>Note that the "." is the struct<div>
		<ul>
			{{range .Wisdom}}
				<ul>{{.Name}} - {{.Motto}}</ul>
			{{end}}
		</ul>
		<ul>
			{{range .Transport}}
				<ul>{{.Manufacturer}} - {{.Model}} - {{.Doors}}</ul>
			{{end}}
		</ul>
		</body>
		</html>
	