
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Hello Dear!</title>
		</head>
		<body>
		//3 is the value passed in 
		//so we double it, square it, take the square root
			{{.}}
			{{. | fdbl}}
			{{. | fdbl | fsq}}
			{{. | fdbl | fsq | fsqrt }}
		</body>
		</html>
	