
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Hello Dear!</title>
		</head>
		<body>
		<div>Note that the "." is the struct<div>
			{{range .Wisdom}}
				{{uc .Name}}
			{{end}}

			{{range .Wisdom}}
				<ul>{{ft .Name}}
			{{end}}
		</body>
		</html>
	