
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Hello Dear!</title>
		</head>
		<body>

		Without formatting: {{.}}
		With date formatting: {{fdateMDY .}}
		
		</body>
		</html>
	