
		<!DOCTYPE html>
		<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Hello Dear!</title>
		</head>
		<body>
    {{range $key, $value :=  .}}
			<h1>{{$key}} - {{$value}}</h1>
		{{end}}
		</body>
		</html>
	